# Web 框架与通信层
Flask==3.0.3
Flask-SocketIO==5.3.6

# 桌面 GUI 容器
pywebview==5.1

# 底层 COM 接口通信 (用于注入和恢复 Windows 声卡)
comtypes==1.4.2

# HTTPS 证书动态生成 (解决局域网 WebRTC 必须使用 HTTPS 的限制)
pyOpenSSL==24.1.0
cryptography==42.0.5

# 打包工具
pyinstaller==6.6.0